
    <header class="cheader">Chat with Alex</header>
    <section class="main-l">
            <div class="user-area">
                <img src="/static/images/user.png">
            </div>
            <div class="chatarea-main">
                <div class="chatarea-outer">
                   
                </div>
            </div>    
            <div class="chatbot-area">
                <img src="/static/images/chatbot.png">
            </div>
        <button id="mic"><i class="flaticon-microphone"></i></button>
    </section>

